.carousel-indicators li{
	width:40px;
	height: 5px;
	margin:0 10px;
}
.carousel-indicators li:hover{
	cursor: pointer;
}
.carousel-indicators .active{
    background-color: #fff;
}
.fast_rendering,
.simpleness,
.lists,
.affordable_price,
.index_harvest,
.free_trial{
	width:100%;
	background-image: url('../img/index/shine_index_fir_con_line-ni.png');
	background-size: 100% 100%;
	padding:80px 0 50px;
	text-align: center;
}
.fast_rendering>p,
.simpleness>p,
.lists>p,
.affordable_price>p,
.index_harvest>p,
.free_trial>p{
	font-size: 36px;
	color: #313131;
	margin-bottom: 16px;
	letter-spacing: 6px;
}
.fast_rendering>p:nth-child(2),
.simpleness>p:nth-child(2),
.affordable_price>p:nth-child(2){
	font-size: 14px;
	padding-bottom:40px;
}
.fast_rendering>div,.simpleness>div{
	text-align:center;
}
.simpleness{
	background-image: url('../img/index/shine_index_sec_con-ni.png');
}
.index_btn{
	display:inline-block;
	width:180px;
	height:50px;
	line-height:50px;
	text-decoration: none;
	font-size:22px;
	color:#000;
	border:1px solid #fba02f;
	border-radius:5px;
	margin-top:30px;
}
.index_btn:hover{
	text-decoration:none;
	background-color: #fba02f;
	color:#fff;
}
.lists>div{
	width:1054px;
	box-sizing:border-box;
	text-align:center;
	margin:0 auto;
}
.lists>div>div{
	display:inline-block;
	width:172px;
	height:200px;
	box-sizing:border-box;
	background-color: #fff;
	margin-top:5px;
}
.lists>div>div>div{
	margin-top:20px;
}
.lists>div>div>div:first-child{
	height:80px;
	line-height:80px;
	margin-top:30px;
}
.lists>div>div>div>p{
	margin:0;
	font-size: 12px;
	color: #ababab;
}
.lists>div>div>div>p:first-child{
	font-size: 22px;
	color: #101010;
}
.affordable_price{
	background: url("../img/index/con_for_bg_al-ni.png") no-repeat;
	background-size: 100% 100%;
}
.affordable_price>p{
	color:#fff;
}
.affordable_price .index_btn{
	color:#fff;
	margin:0;
}
.index_harvest>div{
	width:1050px;
	box-sizing:border-box;
	margin:0 auto;
}
.index_harvest>div>div{
	display: inline-block;
	width:240px;
	height: 380px;
	background-color: #fff;
	box-sizing:border-box;
	margin-right:20px;
	margin-top:25px;
}
.index_harvest>div>div:last-child{
	margin-right:0;
}
.index_harvest>div>div:hover{
	background-color: #fba02f;
}
.index_harvest>div>div p{
	margin:0;
	text-align: left;
	font-size:14px;
	color:#101010;
	margin-top:10px;
	padding-left: 15px;
}
.index_harvest>div>div p:first-child{
	font-size: 22px;
	font-weight: bold;
}
.index_harvest>div>div span{
	position: absolute;
	top:10px;
	left:65%;
	width:51px;
	height: 51px;
	background-image: url(../img/index/fast_sub_de-ni.png);
}
.index_harvest>div>div:nth-child(2) span{
	background-image: url(../img/index/more_two-ni.png);
}
.index_harvest>div>div:nth-child(3) span{
	background-image: url(../img/index/free_for_worry-ni.png);
}
.index_harvest>div>div:last-child span{
	background-image: url(../img/index/free_for_resource-ni.png);
}
.index_harvest>div>div:hover p,.index_harvest>div>div:hover span{
	color:#fff;
}
.free_trial{
	background-image: url(../img/index/free_exprece_bg-ni.png);
}