.panorama_bg{
    width: 100%;
    height: 556px;
    background-image: url(../img/index/panorama/panoindexbanner.png);
    background-size: 100%;
    text-align: center;
}
.panorama_bg>div{
    padding-top: 122px;
}
.panorama_bg>a{
    display: inline-block;
    width: 220px;
    height: 40px;
    border-radius: 1rem;
    background-color: #ffc926;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 40px;
}
.panorama_bg>a:hover{
    text-decoration: none;
}
.web_serve{
    position: relative;
    width: 100%;
    text-align: center;
    margin:58px 0 35px 0;
}
.web_serve>div{
    position: absolute;
    top:-4px;
    left: 47.5%;
    color: #575757;
    font-size: 20px;
}
.panorama_card_wrap{
    width: 100%;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
	margin:0 auto;
}
.panorama_card_wrap:after{
    content: '';
    display: block;
    clear: both;
}
.panorama_card_wrap>ul{
	width:1490px;
	margin:0 auto;
}
.panorama_card_wrap li{
    float: left;
    list-style-type: none;
    width: 350px;
    height: 180px;
    background: #fff;
    margin: 0 30px 30px 0;
    text-align: center;
    box-sizing: border-box;
}
.panorama_card_wrap li>img{
    width: 63px;
    margin:30px 0;
}
.panorama_card_wrap li:nth-child(4),.panorama_card_wrap li:nth-child(8){
    margin-right: 0;
}
.panorama_card_wrap li>p{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.panorama_advertising{
    width: 100%;
    position: relative;
}
.panorama_advertising>p{
    position: absolute;
    top: 15px;
    left: 25%;
    font-size: 20px;
    color: #fff;
    font-style: italic;
    z-index: 2;
}
