.container-fulls>div{
	width:1500px;
	position:relative;
}
.container-fulls>div>div:nth-child(2){
	margin-left: 300px;
}
.container-fulls>div>div:last-child{
	margin-left: 150px;
}
.container-fulls>div>div:nth-child(2)>div{
	position:absolute;
	top:50px;
	right:353px;
	background-color:#282828;
	display:none;
}
.header_style>div:nth-child(3) a.btn{
    background-color: #ff9f00;
    border-radius:1rem;
    border: 0;
    outline: 0;
}
.header_style>div:nth-child(2) li:hover,.header_style>div:nth-child(2) li:hover ul{
    background-color:#282828;
	display: block;
}
.header_style>div:nth-child(2) li a,.header_style>div:nth-child(3)>a{
    color: #1c1c1c;
}
.header_style>div:nth-child(2) li:hover a,.header_style>div:nth-child(3)>a:hover{
    color:#fd7e14;
    text-decoration: none;
}
.display_ul{
	position: absolute;
	top:50px;
	left:932px;
	color:#fff;
	background-color: #1c1c1c;
	list-style-type: none;
	z-index:2;
	display: none;
}