.container-fulln{
	width:100%;
}
.carousel-indicators li{
	width:40px;
	height: 5px;
	margin:0 10px;
}
.carousel-indicators li:hover{
	cursor: pointer;
}
.carousel-indicators .active{
    background-color: #fff;
}
nav{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0px 0px 4px -1px gray;
	box-sizing: border-box;
}
nav li,.index_product>ul>li{
	float: left;
	list-style: none;
	box-sizing: border-box;
	
}
nav>ul:first-child{
	width: 1300px;
	height: 70px;
	line-height: 70px;
	margin: 0 auto;
	box-sizing: border-box;
}
nav>ul li a,.index_product>ul:first-child a{
	display: inline-block;
	width: 105px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #4e4e4e;
	box-sizing: border-box;
}
a:hover{
	text-decoration: none;
	color: #ff9f00 !important;
}
nav li img{
	padding-right:10px;
}
nav>ul:last-child{
	width: 420px;
	height: 65px;
	line-height: 60px;
	margin: 0 auto;
	box-sizing: border-box;
}
nav>ul:last-child>li{
	box-sizing: border-box;
}
nav .active{
	border-bottom: 5px solid  orange;
}
nav>ul:first-child li:last-child a,nav>ul:first-child li:nth-child(11) a{
	border-radius:14px;
	background-color: #e7e7e7;
	height: 30px;
	line-height: 30px;
	margin-right:20px; 
}
.index_product{
	width: 100%;
	text-align: center;
	margin:50px 0;
}
.index_product>ul{
	width: 1500px;
	margin: 0 auto;
}
.index_product>ul:after{
	content: "";
	display: block;
	clear: both;
}
.index_product>ul:first-child>li a{
	width: 85px;
	text-align: right;
}
.index_product>ul:first-child>li:first-child a{
	color: #333;
	font-size: 24px;
}
.index_product>ul:first-child>li:first-child a:hover{
	color: gray;
}
.index_product>ul:first-child>li:last-child{
	float: right;
}
.index_product>ul:last-child>li>div{
	width: 352px;
	height: 356px;
	background-color: #fff;
	float: left;
	margin:30px 24px 0 0;
	box-sizing: border-box;
}
.index_product>ul:last-child>li>div:nth-child(4),
.index_product>ul:last-child>li>div:nth-child(8){
	margin-right: 0;
}
.index_product>ul:last-child>li>div:hover{
	box-shadow: 1px 1px 10px -1px gray;
}
.index_product>ul:last-child>li>div>div{
	margin: 25px;
	text-align: left;
}
.index_product>ul:last-child>li>div>div>a span{
	margin-left:20px; 
}
.index_product>ul:last-child>li>div>div>a:last-child{
	font-size: 18px;
    color: #ff7f2c;
    float: right;
    line-height: 35px;
}
.index_product .user_pic{
	width: 42px;
	border-radius: 50%;
}
